<div class="container">
  <h2 class="text-center">Verity Reader</h2>
  <form [formGroup]="verityForm">
    <h3>Inside Team</h3>
    <div class="row">
      <div class="col-4">
        <div class="col">
          <h4>Left</h4>
        </div>
        <div class="col d-flex">
          <label class="col">
            <input
              type="radio"
              id="circle"
              formControlName="insideLeft"
              value="circle"
            />
            <img class="image-selection" src="assets/Circle.jpg" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="circle"
              formControlName="insideLeft"
              value="triangle"
            />
            <img class="image-selection" src="assets/Triangle.jpg" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="circle"
              formControlName="insideLeft"
              value="square"
            />
            <img class="image-selection" src="assets/Square.jpg" />
          </label>
        </div>
      </div>

      <div class="col-4">
        <div class="col">
          <h4>Middle</h4>
        </div>
        <div class="col d-flex">
          <label class="col">
            <input
              type="radio"
              id="circle"
              formControlName="insideMiddle"
              value="circle"
            />
            <img class="image-selection" src="assets/Circle.jpg" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="circle"
              formControlName="insideMiddle"
              value="triangle"
            />
            <img class="image-selection" src="assets/Triangle.jpg" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="circle"
              formControlName="insideMiddle"
              value="square"
            />
            <img class="image-selection" src="assets/Square.jpg" />
          </label>
        </div>
      </div>

      <div class="col-4">
        <div class="col">
          <h4>Right</h4>
        </div>
        <div class="col d-flex">
          <label class="col">
            <input
              type="radio"
              id="circle"
              formControlName="insideRight"
              value="circle"
            />
            <img class="image-selection" src="assets/Circle.jpg" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="circle"
              formControlName="insideRight"
              value="triangle"
            />
            <img class="image-selection" src="assets/Triangle.jpg" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="circle"
              formControlName="insideRight"
              value="square"
            />
            <img class="image-selection" src="assets/Square.jpg" />
          </label>
        </div>
      </div>
    </div>

    <h3>Outside Team</h3>
    <div class="row">
      <div class="col-4">
        <div class="col">
          <h4>Left</h4>
        </div>
        <div class="col d-flex flex-wrap">
          <label class="col-4">
            <input
              type="radio"
              id="sphere"
              formControlName="outsideLeft"
              value="sphere"
            />
            <img class="image-selection" src="assets/Sphere.png" />
          </label>
          <label class="col-4">
            <input
              type="radio"
              id="pyramid"
              formControlName="outsideLeft"
              value="pyramid"
            />
            <img class="image-selection" src="assets/Square-Pyramid.png" />
          </label>
          <label class="col-4">
            <input
              type="radio"
              id="cube"
              formControlName="outsideLeft"
              value="cube"
            /><img class="image-selection" src="assets/Cube.png" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="cone"
              formControlName="outsideLeft"
              value="cone"
            />
            <img class="image-selection" src="assets/Cone.png" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="prism"
              formControlName="outsideLeft"
              value="prism"
            />
            <img class="image-selection" src="assets/Triangular-Prism.png" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="cylinder"
              formControlName="outsideLeft"
              value="cylinder"
            />
            <img class="image-selection" src="assets/cylinder.png" />
          </label>
        </div>
      </div>

      <div class="col-4">
        <div class="col">
          <h4>Middle</h4>
        </div>
        <div class="col d-flex flex-wrap">
          <label class="col-4">
            <input
              type="radio"
              id="sphere"
              formControlName="outsideMiddle"
              value="sphere"
            />
            <img class="image-selection" src="assets/Sphere.png" />
          </label>
          <label class="col-4">
            <input
              type="radio"
              id="pyramid"
              formControlName="outsideMiddle"
              value="pyramid"
            />
            <img class="image-selection" src="assets/Square-Pyramid.png" />
          </label>
          <label class="col-4">
            <input
              type="radio"
              id="cube"
              formControlName="outsideMiddle"
              value="cube"
            /><img class="image-selection" src="assets/Cube.png" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="cone"
              formControlName="outsideMiddle"
              value="cone"
            />
            <img class="image-selection" src="assets/Cone.png" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="prism"
              formControlName="outsideMiddle"
              value="prism"
            />
            <img class="image-selection" src="assets/Triangular-Prism.png" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="cylinder"
              formControlName="outsideMiddle"
              value="cylinder"
            />
            <img class="image-selection" src="assets/cylinder.png" />
          </label>
        </div>
      </div>

      <div class="col-4">
        <div class="col">
          <h4>Right</h4>
        </div>
        <div class="col d-flex flex-wrap">
          <label class="col-4">
            <input
              type="radio"
              id="sphere"
              formControlName="outsideRight"
              value="sphere"
            />
            <img class="image-selection" src="assets/Sphere.png" />
          </label>
          <label class="col-4">
            <input
              type="radio"
              id="pyramid"
              formControlName="outsideRight"
              value="pyramid"
            />
            <img class="image-selection" src="assets/Square-Pyramid.png" />
          </label>
          <label class="col-4">
            <input
              type="radio"
              id="cube"
              formControlName="outsideRight"
              value="cube"
            /><img class="image-selection" src="assets/Cube.png" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="cone"
              formControlName="outsideRight"
              value="cone"
            />
            <img class="image-selection" src="assets/Cone.png" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="prism"
              formControlName="outsideRight"
              value="prism"
            />
            <img class="image-selection" src="assets/Triangular-Prism.png" />
          </label>
          <label class="col">
            <input
              type="radio"
              id="cylinder"
              formControlName="outsideRight"
              value="cylinder"
            />
            <img class="image-selection" src="assets/cylinder.png" />
          </label>
        </div>
      </div>
    </div>

    <h3>Dissect</h3>
    <div class="row">
      <div class="col-4">
        <div class="col">
          <h4>Left</h4>
        </div>
        <div class="col d-flex">
          <div class="col" *ngFor="let shape of dissectShapes?.left">
            <img
              *ngIf="shape === 'circle'"
              class="image-selection"
              src="assets/Circle.jpg"
            />
            <img
              *ngIf="shape === 'triangle'"
              class="image-selection"
              src="assets/Triangle.jpg"
            />
            <img
              *ngIf="shape === 'square'"
              class="image-selection"
              src="assets/Square.jpg"
            />
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="col">
          <h4>Middle</h4>
        </div>
        <div class="col d-flex">
          <div class="col" *ngFor="let shape of dissectShapes?.middle">
            <img
              *ngIf="shape === 'circle'"
              class="image-selection"
              src="assets/Circle.jpg"
            />
            <img
              *ngIf="shape === 'triangle'"
              class="image-selection"
              src="assets/Triangle.jpg"
            />
            <img
              *ngIf="shape === 'square'"
              class="image-selection"
              src="assets/Square.jpg"
            />
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="col">
          <h4>Right</h4>
        </div>
        <div class="col d-flex">
          <div class="col" *ngFor="let shape of dissectShapes?.right">
            <img
              *ngIf="shape === 'circle'"
              class="image-selection"
              src="assets/Circle.jpg"
            />
            <img
              *ngIf="shape === 'triangle'"
              class="image-selection"
              src="assets/Triangle.jpg"
            />
            <img
              *ngIf="shape === 'square'"
              class="image-selection"
              src="assets/Square.jpg"
            />
          </div>
        </div>
      </div>
    </div>

    <h3>Ending Symbols</h3>
    <div class="row">
      <div class="col-4">
        <div class="col">
          <h4>Left</h4>
        </div>
        <div class="col d-flex flex-wrap">
          <div class="col" [ngSwitch]="endingShapes?.left">
            <div class="col" *ngSwitchCase="'cone'">
              <img class="image-selection" src="assets/Cone.png" />
              =
              <img class="image-selection" src="assets/Circle.jpg" />
              +
              <img class="image-selection" src="assets/Triangle.jpg" />
            </div>
            <div class="col" *ngSwitchCase="'prism'">
              <img class="image-selection" src="assets/Triangular-Prism.png" />
              =
              <img class="image-selection" src="assets/Square.jpg" />
              +
              <img class="image-selection" src="assets/Triangle.jpg" />
            </div>
            <div class="col" *ngSwitchCase="'cylinder'">
              <img class="image-selection" src="assets/cylinder.png" />
              =
              <img class="image-selection" src="assets/Circle.jpg" />
              +
              <img class="image-selection" src="assets/Square.jpg" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="col">
          <h4>Middle</h4>
        </div>
        <div class="col d-flex flex-wrap">
          <div class="col" [ngSwitch]="endingShapes?.middle">
            <div class="col" *ngSwitchCase="'cone'">
              <img class="image-selection" src="assets/Cone.png" />
              =
              <img class="image-selection" src="assets/Circle.jpg" />
              +
              <img class="image-selection" src="assets/Triangle.jpg" />
            </div>
            <div class="col" *ngSwitchCase="'prism'">
              <img class="image-selection" src="assets/Triangular-Prism.png" />
              =
              <img class="image-selection" src="assets/Square.jpg" />
              +
              <img class="image-selection" src="assets/Triangle.jpg" />
            </div>
            <div class="col" *ngSwitchCase="'cylinder'">
              <img class="image-selection" src="assets/cylinder.png" />
              =
              <img class="image-selection" src="assets/Circle.jpg" />
              +
              <img class="image-selection" src="assets/Square.jpg" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="col">
          <h4>Right</h4>
        </div>
        <div class="col d-flex flex-wrap">
          <div class="col" [ngSwitch]="endingShapes?.right">
            <div class="col" *ngSwitchCase="'cone'">
              <img class="image-selection" src="assets/Cone.png" />
              =
              <img class="image-selection" src="assets/Circle.jpg" />
              +
              <img class="image-selection" src="assets/Triangle.jpg" />
            </div>
            <div class="col" *ngSwitchCase="'prism'">
              <img class="image-selection" src="assets/Triangular-Prism.png" />
              =
              <img class="image-selection" src="assets/Square.jpg" />
              +
              <img class="image-selection" src="assets/Triangle.jpg" />
            </div>
            <div class="col" *ngSwitchCase="'cylinder'">
              <img class="image-selection" src="assets/cylinder.png" />
              =
              <img class="image-selection" src="assets/Circle.jpg" />
              +
              <img class="image-selection" src="assets/Square.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div
    class="alert alert-danger"
    role="alert"
    *ngIf="verityForm.invalid && isSubmitted"
  >
    The form is invalid.
  </div>
  <button (click)="reset()">Reset</button>
  <button (click)="doTheThing()">Submit</button>
</div>
