<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand">Verity Solver</a>
    <div class="navbar-nav">
      <!-- TODO: add help modal -->
      <button
        class="nav-link"
        data-bs-toggle="modal"
        data-bs-target="#symbolModal"
      >
        Symbols
      </button>
      <button
        class="nav-link"
        data-bs-toggle="modal"
        data-bs-target="#helpModal"
      >
        Need Help?
      </button>
      <a class="nav-link" target="_blank" href="https://x.com/StevieRaygg"
        >&#64;StevieRayGG</a
      >
    </div>
  </div>
</nav>
<div class="container">
  <h3>What's on the inside?</h3>
  <div class="row">
    <div class="col-4">
      <div class="col">
        <h4>Left</h4>
      </div>
      <div class="col d-flex flex-wrap">
        <ng-container *ngIf="!insideLeft">
          <div
            class="col-12 col-md-4 border text-center d-flex justify-content-center align-items-center selectable"
            *ngFor="let shape of availableSelections"
            (click)="makeSelection(shape, Location.Left)"
          >
            {{ shape | titlecase }}
          </div>
        </ng-container>
        <div *ngIf="insideLeft" class="col text-center">
          <img
            *ngIf="insideLeft === Shape.Circle"
            class="image-selection"
            src="assets/finalcircle.png"
          />
          <img
            *ngIf="insideLeft === Shape.Square"
            class="image-selection"
            src="assets/finalsquare.png"
          />
          <img
            *ngIf="insideLeft === Shape.Triangle"
            class="image-selection"
            src="assets/finaltriangle.png"
          />
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="col">
        <h4>Middle</h4>
      </div>
      <div class="col d-flex flex-wrap">
        <ng-container *ngIf="!insideMiddle">
          <div
            class="col-12 col-md-4 border text-center d-flex justify-content-center align-items-center selectable"
            *ngFor="let shape of availableSelections"
            (click)="makeSelection(shape, Location.Middle)"
          >
            {{ shape | titlecase }}
          </div>
        </ng-container>
        <div *ngIf="insideMiddle" class="col text-center">
          <img
            *ngIf="insideMiddle === Shape.Circle"
            class="image-selection"
            src="assets/finalcircle.png"
          />
          <img
            *ngIf="insideMiddle === Shape.Square"
            class="image-selection"
            src="assets/finalsquare.png"
          />
          <img
            *ngIf="insideMiddle === Shape.Triangle"
            class="image-selection"
            src="assets/finaltriangle.png"
          />
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="col">
        <h4>Right</h4>
      </div>
      <div class="col d-flex flex-wrap">
        <ng-container *ngIf="!insideRight">
          <div
            class="col-12 col-md-4 border text-center d-flex justify-content-center align-items-center selectable"
            *ngFor="let shape of availableSelections"
            (click)="makeSelection(shape, Location.Right)"
          >
            {{ shape | titlecase }}
          </div>
        </ng-container>
        <div *ngIf="insideRight" class="col text-center">
          <img
            *ngIf="insideRight === Shape.Circle"
            class="image-selection"
            src="assets/finalcircle.png"
          />
          <img
            *ngIf="insideRight === Shape.Square"
            class="image-selection"
            src="assets/finalsquare.png"
          />
          <img
            *ngIf="insideRight === Shape.Triangle"
            class="image-selection"
            src="assets/finaltriangle.png"
          />
        </div>
      </div>
    </div>
  </div>
  <h3>What's on the outside?</h3>
  <div class="row">
    <div class="col-4">
      <div class="col">
        <h4>Left</h4>
      </div>
      <div class="col d-flex flex-wrap">
        <ng-container *ngIf="!outsideLeft">
          <div
            class="col-6 col-md-4 border text-center d-flex justify-content-center align-items-center selectable"
            *ngFor="let shape of outsideShapes"
            (click)="selectOutside(shape, Location.Left)"
          >
            {{ shape.name | titlecase }}
          </div>
        </ng-container>
        <div *ngIf="outsideLeft" class="col text-center">
          <div
            class="col"
            [ngClass]="first ? 'mb-3' : ''"
            *ngFor="let shape of outsideLeft.composition; let first = first"
          >
            <img
              *ngIf="shape === Shape.Circle"
              class="image-selection"
              src="assets/circle.png"
            />
            <img
              *ngIf="shape === Shape.Square"
              class="image-selection"
              src="assets/square.png"
            />
            <img
              *ngIf="shape === Shape.Triangle"
              class="image-selection"
              src="assets/triangle.png"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="col">
        <h4>Middle</h4>
      </div>
      <div class="col d-flex flex-wrap">
        <ng-container *ngIf="!outsideMiddle">
          <div
            class="col-6 col-md-4 border text-center d-flex justify-content-center align-items-center selectable"
            *ngFor="let shape of outsideShapes"
            (click)="selectOutside(shape, Location.Middle)"
          >
            {{ shape.name | titlecase }}
          </div>
        </ng-container>
        <div *ngIf="outsideMiddle" class="col text-center">
          <div
            class="col"
            [ngClass]="first ? 'mb-3' : ''"
            *ngFor="let shape of outsideMiddle.composition; let first = first"
          >
            <img
              *ngIf="shape === Shape.Circle"
              class="image-selection"
              src="assets/circle.png"
            />
            <img
              *ngIf="shape === Shape.Square"
              class="image-selection"
              src="assets/square.png"
            />
            <img
              *ngIf="shape === Shape.Triangle"
              class="image-selection"
              src="assets/triangle.png"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="col">
        <h4>Right</h4>
      </div>
      <div class="col d-flex flex-wrap">
        <ng-container *ngIf="!outsideRight">
          <div
            class="col-6 col-md-4 border text-center d-flex justify-content-center align-items-center selectable"
            *ngFor="let shape of outsideShapes"
            (click)="selectOutside(shape, Location.Right)"
          >
            {{ shape.name | titlecase }}
          </div>
        </ng-container>
        <div *ngIf="outsideRight" class="col text-center">
          <div
            class="col"
            [ngClass]="first ? 'mb-3' : ''"
            *ngFor="let shape of outsideRight.composition; let first = first"
          >
            <img
              *ngIf="shape === Shape.Circle"
              class="image-selection"
              src="assets/circle.png"
            />
            <img
              *ngIf="shape === Shape.Square"
              class="image-selection"
              src="assets/square.png"
            />
            <img
              *ngIf="shape === Shape.Triangle"
              class="image-selection"
              src="assets/triangle.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="stepByStepSolution && stepByStepSolution.length > 0">
    <hr />
    <h3>Solution</h3>
    <div class="row">
      <div class="col">
        <h4>Step by Step Instructions</h4>
        <ol>
          <li *ngFor="let step of stepByStepSolution">{{ step }}</li>
        </ol>
      </div>
      <div class="col text-center">
        <div class="col">
          <h4>Left</h4>
        </div>
        <div
          class="col"
          [ngClass]="first ? 'mb-3' : ''"
          *ngFor="let shape of solvedLeft; let first = first"
        >
          <img
            *ngIf="shape === Shape.Circle"
            class="image-selection"
            src="assets/circle.png"
          />
          <img
            *ngIf="shape === Shape.Square"
            class="image-selection"
            src="assets/square.png"
          />
          <img
            *ngIf="shape === Shape.Triangle"
            class="image-selection"
            src="assets/triangle.png"
          />
        </div>
      </div>
      <div class="col text-center">
        <div class="col">
          <h4>Middle</h4>
        </div>
        <div
          class="col"
          [ngClass]="first ? 'mb-3' : ''"
          *ngFor="let shape of solvedMiddle; let first = first"
        >
          <img
            *ngIf="shape === Shape.Circle"
            class="image-selection"
            src="assets/circle.png"
          />
          <img
            *ngIf="shape === Shape.Square"
            class="image-selection"
            src="assets/square.png"
          />
          <img
            *ngIf="shape === Shape.Triangle"
            class="image-selection"
            src="assets/triangle.png"
          />
        </div>
      </div>
      <div class="col text-center">
        <div class="col">
          <h4>Right</h4>
        </div>
        <div
          class="col"
          [ngClass]="first ? 'mb-3' : ''"
          *ngFor="let shape of solvedRight; let first = first"
        >
          <img
            *ngIf="shape === Shape.Circle"
            class="image-selection"
            src="assets/circle.png"
          />
          <img
            *ngIf="shape === Shape.Square"
            class="image-selection"
            src="assets/square.png"
          />
          <img
            *ngIf="shape === Shape.Triangle"
            class="image-selection"
            src="assets/triangle.png"
          />
        </div>
      </div>
    </div>
  </ng-container>

  <div class="alert alert-danger" role="alert" *ngIf="!isSolvable">
    This selection is not solvable. Please check your inputs and try again
  </div>
  <div class="mt-3">
    <button class="btn btn-secondary me-3" type="button" (click)="reset()">
      Reset
    </button>
    <button
      class="btn btn-success"
      type="button"
      (click)="doTheThing()"
      *ngIf="isSolvable && stepByStepSolution.length === 0"
    >
      Solve
    </button>
  </div>
</div>

<!-- Symbol Modal -->
<div
  class="modal fade"
  id="symbolModal"
  tabindex="-1"
  aria-labelledby="symbolModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="symbolModalLabel">Symbols</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-1">
          <div class="col mb-3">
            <img class="image-modal" src="assets/circle.png" /> +
            <img class="image-modal" src="assets/circle.png" /> = Sphere
          </div>
          <div class="col mb-3">
            <img class="image-modal" src="assets/triangle.png" /> +
            <img class="image-modal" src="assets/triangle.png" /> = Pyramid
          </div>
          <div class="col mb-3">
            <img class="image-modal" src="assets/square.png" /> +
            <img class="image-modal" src="assets/square.png" /> = Cube
          </div>
          <div class="col mb-3">
            <img class="image-modal" src="assets/circle.png" /> +
            <img class="image-modal" src="assets/triangle.png" /> = Cone
          </div>
          <div class="col mb-3">
            <img class="image-modal" src="assets/square.png" /> +
            <img class="image-modal" src="assets/triangle.png" /> = Prism
          </div>
          <div class="col mb-3">
            <img class="image-modal" src="assets/circle.png" /> +
            <img class="image-modal" src="assets/square.png" /> = Cylinder
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Help Modal -->
<div
  class="modal fade"
  id="helpModal"
  tabindex="-1"
  aria-labelledby="helpModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="helpModalLabel">Need Help?</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Check out this video explanation by
          <a href="https://x.com/thetiddlywinks">&#64;thetiddlywinks</a>:
        </p>
        <blockquote
          class="tiktok-embed"
          cite="https://www.tiktok.com/@tiddlytok/video/7379613078150860062"
          data-video-id="7379613078150860062"
          style="max-width: 605px; min-width: 325px"
          muted="true"
        >
          <section>
            <a
              target="_blank"
              title="@tiddlytok"
              href="https://www.tiktok.com/@tiddlytok?refer=embed"
              >&#64;tiddlytok</a
            >
            Dissection shape abacus for Verity encounter in Salvation’s Edge
            Raid
            <a
              title="destiny2"
              target="_blank"
              href="https://www.tiktok.com/tag/destiny2?refer=embed"
              >#destiny2</a
            >
            <a
              title="salvationsedge"
              target="_blank"
              href="https://www.tiktok.com/tag/salvationsedge?refer=embed"
              >#salvationsedge</a
            >
            <a
              title="raid"
              target="_blank"
              href="https://www.tiktok.com/tag/raid?refer=embed"
              >#raid</a
            >
            <a
              title="puzzle"
              target="_blank"
              href="https://www.tiktok.com/tag/puzzle?refer=embed"
              >#puzzle</a
            >
            <a
              target="_blank"
              title="♬ original sound - Tiddly"
              href="https://www.tiktok.com/music/original-sound-7379613394041309982?refer=embed"
              >♬ original sound - Tiddly</a
            >
          </section>
        </blockquote>
      </div>
    </div>
  </div>
</div>
