<div class="container">
  <h2 class="text-center">Verity Solver</h2>
  <h3>What's on the inside?</h3>
  <div class="row">
    <div class="col-4">
      <div class="col">
        <h4>Left</h4>
      </div>
      <div class="col d-flex">
        <ng-container *ngIf="!insideLeft">
          <div
            class="col border text-center d-flex justify-content-center align-items-center selectable"
            *ngFor="let shape of availableSelections"
            (click)="makeSelection(shape, Location.Left)"
          >
            {{ shape | titlecase }}
          </div>
        </ng-container>
        <div *ngIf="insideLeft" class="col text-center">
          <img
            *ngIf="insideLeft === Shape.Circle"
            class="image-selection"
            src="assets/finalcircle.png"
          />
          <img
            *ngIf="insideLeft === Shape.Square"
            class="image-selection"
            src="assets/finalsquare.png"
          />
          <img
            *ngIf="insideLeft === Shape.Triangle"
            class="image-selection"
            src="assets/finaltriangle.png"
          />
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="col">
        <h4>Middle</h4>
      </div>
      <div class="col d-flex">
        <ng-container *ngIf="!insideMiddle">
          <div
            class="col border text-center d-flex justify-content-center align-items-center selectable"
            *ngFor="let shape of availableSelections"
            (click)="makeSelection(shape, Location.Middle)"
          >
            {{ shape | titlecase }}
          </div>
        </ng-container>
        <div *ngIf="insideMiddle" class="col text-center">
          <img
            *ngIf="insideMiddle === Shape.Circle"
            class="image-selection"
            src="assets/finalcircle.png"
          />
          <img
            *ngIf="insideMiddle === Shape.Square"
            class="image-selection"
            src="assets/finalsquare.png"
          />
          <img
            *ngIf="insideMiddle === Shape.Triangle"
            class="image-selection"
            src="assets/finaltriangle.png"
          />
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="col">
        <h4>Right</h4>
      </div>
      <div class="col d-flex">
        <ng-container *ngIf="!insideRight">
          <div
            class="col border text-center d-flex justify-content-center align-items-center selectable"
            *ngFor="let shape of availableSelections"
            (click)="makeSelection(shape, Location.Right)"
          >
            {{ shape | titlecase }}
          </div>
        </ng-container>
        <div *ngIf="insideRight" class="col text-center">
          <img
            *ngIf="insideRight === Shape.Circle"
            class="image-selection"
            src="assets/finalcircle.png"
          />
          <img
            *ngIf="insideRight === Shape.Square"
            class="image-selection"
            src="assets/finalsquare.png"
          />
          <img
            *ngIf="insideRight === Shape.Triangle"
            class="image-selection"
            src="assets/finaltriangle.png"
          />
        </div>
      </div>
    </div>
  </div>
  <h3>What's on the outside?</h3>
  <div class="row">
    <div class="col-4">
      <div class="col">
        <h4>Left</h4>
      </div>
      <div class="col d-flex flex-wrap">
        <ng-container *ngIf="!outsideLeft && stepByStepSolution.length === 0">
          <div
            class="col-4 border text-center d-flex justify-content-center align-items-center selectable"
            *ngFor="let shape of outsideShapes"
            (click)="selectOutside(shape, Location.Left)"
          >
            {{ shape.name | titlecase }}
          </div>
        </ng-container>
        <div
          *ngIf="outsideLeft && stepByStepSolution.length === 0"
          class="col text-center"
        >
          <div
            class="col"
            [ngClass]="first ? 'mb-3' : ''"
            *ngFor="let shape of outsideLeft.composition; let first = first"
          >
            <img
              *ngIf="shape === Shape.Circle"
              class="image-selection"
              src="assets/circle.png"
            />
            <img
              *ngIf="shape === Shape.Square"
              class="image-selection"
              src="assets/square.png"
            />
            <img
              *ngIf="shape === Shape.Triangle"
              class="image-selection"
              src="assets/triangle.png"
            />
          </div>
        </div>
        <div *ngIf="stepByStepSolution.length > 0" class="col text-center">
          <div
            class="col"
            [ngClass]="first ? 'mb-3' : ''"
            *ngFor="let shape of solvedLeft; let first = first"
          >
            <img
              *ngIf="shape === Shape.Circle"
              class="image-selection"
              src="assets/circle.png"
            />
            <img
              *ngIf="shape === Shape.Square"
              class="image-selection"
              src="assets/square.png"
            />
            <img
              *ngIf="shape === Shape.Triangle"
              class="image-selection"
              src="assets/triangle.png"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="col">
        <h4>Middle</h4>
      </div>
      <div class="col d-flex flex-wrap">
        <ng-container *ngIf="!outsideMiddle && stepByStepSolution.length === 0">
          <div
            class="col-4 border text-center d-flex justify-content-center align-items-center selectable"
            *ngFor="let shape of outsideShapes"
            (click)="selectOutside(shape, Location.Middle)"
          >
            {{ shape.name | titlecase }}
          </div>
        </ng-container>
        <div
          *ngIf="outsideMiddle && stepByStepSolution.length === 0"
          class="col text-center"
        >
          <div
            class="col"
            [ngClass]="first ? 'mb-3' : ''"
            *ngFor="let shape of outsideMiddle.composition; let first = first"
          >
            <img
              *ngIf="shape === Shape.Circle"
              class="image-selection"
              src="assets/circle.png"
            />
            <img
              *ngIf="shape === Shape.Square"
              class="image-selection"
              src="assets/square.png"
            />
            <img
              *ngIf="shape === Shape.Triangle"
              class="image-selection"
              src="assets/triangle.png"
            />
          </div>
        </div>
        <div *ngIf="stepByStepSolution.length > 0" class="col text-center">
          <div
            class="col"
            [ngClass]="first ? 'mb-3' : ''"
            *ngFor="let shape of solvedMiddle; let first = first"
          >
            <img
              *ngIf="shape === Shape.Circle"
              class="image-selection"
              src="assets/circle.png"
            />
            <img
              *ngIf="shape === Shape.Square"
              class="image-selection"
              src="assets/square.png"
            />
            <img
              *ngIf="shape === Shape.Triangle"
              class="image-selection"
              src="assets/triangle.png"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="col">
        <h4>Right</h4>
      </div>
      <div class="col d-flex flex-wrap">
        <ng-container *ngIf="!outsideRight && stepByStepSolution.length === 0">
          <div
            class="col-4 border text-center d-flex justify-content-center align-items-center selectable"
            *ngFor="let shape of outsideShapes"
            (click)="selectOutside(shape, Location.Right)"
          >
            {{ shape.name | titlecase }}
          </div>
        </ng-container>
        <div
          *ngIf="outsideRight && stepByStepSolution.length === 0"
          class="col text-center"
        >
          <div
            class="col"
            [ngClass]="first ? 'mb-3' : ''"
            *ngFor="let shape of outsideRight.composition; let first = first"
          >
            <img
              *ngIf="shape === Shape.Circle"
              class="image-selection"
              src="assets/circle.png"
            />
            <img
              *ngIf="shape === Shape.Square"
              class="image-selection"
              src="assets/square.png"
            />
            <img
              *ngIf="shape === Shape.Triangle"
              class="image-selection"
              src="assets/triangle.png"
            />
          </div>
        </div>
        <div *ngIf="stepByStepSolution.length > 0" class="col text-center">
          <div
            class="col"
            [ngClass]="first ? 'mb-3' : ''"
            *ngFor="let shape of solvedRight; let first = first"
          >
            <img
              *ngIf="shape === Shape.Circle"
              class="image-selection"
              src="assets/circle.png"
            />
            <img
              *ngIf="shape === Shape.Square"
              class="image-selection"
              src="assets/square.png"
            />
            <img
              *ngIf="shape === Shape.Triangle"
              class="image-selection"
              src="assets/triangle.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="stepByStepSolution && stepByStepSolution.length > 0">
    <h3 class="text-center">Step by Step Instructions</h3>
    <ol>
      <li *ngFor="let step of stepByStepSolution">{{ step }}</li>
    </ol>
  </ng-container>

  <div class="alert alert-danger" role="alert" *ngIf="!isSolvable">
    This selection is not solvable. Please check your inputs and try again
  </div>
  <button (click)="reset()">Reset</button>
  <button
    (click)="doTheThing()"
    *ngIf="isSolvable && stepByStepSolution.length === 0"
  >
    Solve
  </button>
</div>
